<section
	class="content"
	ng-controller="arrearController"
	ng-init="getOpArrears($event);"
>
	<div class="container-fluid">
		<!-- Main row -->
		<div class="row">
			<section class="col-lg-12 connectedSortable">

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-hospital-user"></i>
							รายการค้างชำระ - ผู้ป่วยนอก (OPD)
						</h3>
					</div><!-- /.card-header -->
					<div class="card-body">

						<form action="" method="POST" class="form-inline">
							<div class="form-group">
								<label>จากวันที่ :</label>
								<input
									type="text"
									id="sdate"
									name="sdate"								
									ng-model="sdate"								
									class="form-control mr-2 ml-2"
									autocomplete="off"
								>
							</div>

							<div class="form-group">
								<label>ถึงวันที่ :</label>
								<input
									type="text"
									id="edate"
									name="edate"								
									ng-model="edate"								
									class="form-control mr-2 ml-2"
									autocomplete="off"
								>
							</div>

							<button ng-click="getOpArrears($event)" class="btn btn-primary">ตกลง</button>
							
						</form>

					</div><!-- /.card-body -->
				</div><!-- /.card -->

				<div class="card">
					<div class="card-body">

						<table class="table table-bordered table-striped" style="font-size: 14px;">
							<thead>
								<tr>
									<th style="width: 3%; text-align: center;">ลำดับ</th>
									<th style="width: 5%; text-align: center;">HN</th>
									<th style="text-align: center;">ชื่อ-สกุล</th>
									<th style="width: 5%; text-align: center;">วันที่รับบริการ</th>
									<th style="width: 5%; text-align: center;">เวลา</th>
									<th style="width: 15%; text-align: center;">สิทธิ์</th>
									<th style="width: 6%; text-align: center;">ยอดรวม</th>
									<th style="width: 6%; text-align: center;">ลูกหนี้</th>
									<th style="width: 6%; text-align: center;">ชำระเงิน</th>
									<th style="width: 6%; text-align: center;">ชำระแล้ว</th>
									<th style="width: 6%; text-align: center;">ค้างชำระ</th>
									<th style="width: 6%; text-align: center;">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(index, row) in data">
									<td style="text-align: center;">{{ index+1 }}</td>
									<td style="text-align: center;">{{ row.hn }}</td>
									<td>{{ row.patname }}</td>
									<td style="text-align: center;">{{ row.vstdate | thdate }}</td>
									<td style="text-align: center;">{{ row.vsttime }}</td>
									<td style="text-align: center;">{{ row.pttname }}</td>
									<td style="text-align: center;">{{ row.income | currency:'':2 }}</td>
									<td style="text-align: center;">{{ row.uc_money | currency:'':2 }}</td>
									<td style="text-align: center;">{{ row.paid_money | currency:'':2 }}</td>
									<td style="text-align: center; color: green;">{{ row.rcpt_money | currency:'':2 }}</td>
									<td style="text-align: center; color: red;">{{ row.remain | currency:'':2 }}</td>
									<td style="text-align: center;">
										<a href="arrears/payment/op/{{ row.vn }}/{{ row.hn }}" class="btn btn-danger btn-sm">
											ชำระเงิน
										</a>
									</td>
								</tr>
								<tr style="font-weight: 700;">
									<td style="text-align: center;" colspan="8">รวม</td>
									<td style="text-align: center;">
										{{ totalData.totalToPay | currency:'':2 }}
									</td>
									<td style="text-align: center; color: green;">
										{{ totalData.totalPaid | currency:'':2 }}
									</td>
									<td style="text-align: center; color: red;">
										{{ totalData.totalArrear | currency:'':2 }}
									</td>
									<td style="text-align: center;"></td>
								</tr>
							</tbody>
						</table>

					</div><!-- /.card-body -->

					<div class="card-footer clearfix">

						<div class="row">
							<!-- <div class="col-3 m-0 float-left" ng-show="data">
								<a href="#" class="btn btn-success">Excel</a>
							</div> -->
							
							<div class="col-6 m-0" ng-show="pager" style="text-align: center;">
								<span>จำนวนทั้งหมด {{ pager.total }} ราย</span>
							</div>
							
							<div class="col-3 m-0" ng-show="data">
								<ul class="pagination pagination-md m-0 float-right" ng-show="pager">
									<li class="page-item" ng-class="{disabled: pager.current_page==1}">
										<a class="page-link" href="#" ng-click="onPaginateLinkClick($event, pager.first_page_url)">
											First
										</a>
									</li>
									<li class="page-item" ng-class="{disabled: pager.current_page==1}">
										<a class="page-link" href="#" ng-click="onPaginateLinkClick($event, pager.prev_page_url)">
											Prev
										</a>
									</li>
									<li class="page-item" ng-class="{disabled: pager.current_page==pager.last_page}">
										<a class="page-link" href="#" ng-click="onPaginateLinkClick($event, pager.next_page_url)">
											Next
										</a>
									</li>
									<li class="page-item" ng-class="{disabled: pager.current_page==pager.last_page}">
										<a class="page-link" href="#" ng-click="onPaginateLinkClick($event, pager.last_page_url)">
											Last
										</a>
									</li>
								</ul>
							</div>
						</div><!-- /.row -->

					</div><!-- /.card-footer -->
				</div><!-- /.card -->
	
			</section>
		</div><!-- Main row -->
	</div><!-- /.container-fluid-->
</section><!-- /.content -->

<script type="text/javascript">
	$(function() {
		$('#sdate').datepicker({
			autoclose: true,
			language: 'th',
			format: 'dd/mm/yyyy',
			thaiyear: true
		}).datepicker('update', new Date());
		
		$('#edate').datepicker({
			autoclose: true,
			language: 'th',
			format: 'dd/mm/yyyy',
			thaiyear: true
		}).datepicker('update', new Date());
	});
</script>