<section
	class="content"
	ng-controller="homeController"
	ng-init="getOpVisit($event);
			getOpVisitType($event);
			getIpVisit($event);
			getIpClass($event);
			getReferIn($event);
			getReferOut($event);
			getErVisit($event);
			getErEmergency($event);
			getOrVisit($event);
			getOrType($event);"
>
	<div class="container-fluid">
		
		<div class="row">			
			<div class="col-md-12" style="margin: 20px 0;">
				
				<form action="#" method="POST" class="form-inline">
					<div class="form-group">
						<label>ปีงบประมาณ :</label>
						<input
							type="text"
							id="cboYear"
							name="cboYear"
							ng-model="cboYear"
							class="form-control"
							style="margin: 0 10px;"
							autocomplete="off"
						>
					</div>

					<button class="btn btn-primary" ng-click="getOpVisit($event);
															getOpVisitType($event);
															getIpVisit($event);
															getIpClass($event);
															getReferIn($event);
															getReferOut($event);
															getErVisit($event);
															getErEmergency($event);
															getOrVisit($event);
															getOrType($event);"
					>ตกลง</button>
				</form>

			</div><!-- /.col -->
		</div><!-- /.row -->

		<!-- Small boxes (Stat box) -->
		<!-- <div ng-include="'./templates/dashboard/small-box.html'"></div> -->

		<!-- Main row -->
		<div class="row">
			<section class="col-lg-12 connectedSortable">

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-users mr-1"></i>
							ยอดผู้ป่วยนอก ปีงบประมาณ {{ cboYear }}
						</h3>
					</div><!-- /.card-header -->
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">

								<div id="opVisitBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

							</div>

							<div class="col-md-6">

								<div id="opVisitTypePieContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

							</div>
						</div>

					</div>
				</div>

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-bed mr-1"></i>
							ยอดผู้ป่วยใน ปีงบประมาณ {{ cboYear }}
						</h3>
					</div><!-- /.card-header -->
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">

								<div id="ipClassificationPieContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

							</div>
							
							<div class="col-md-6">

								<div id="ipVisitBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

							</div>
						</div>

					</div>
				</div>


				<div class="card">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-ambulance mr-1"></i>
							Refer In/Out ปีงบประมาณ {{ cboYear }}
						</h3>
					</div><!-- /.card-header -->
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">

								<div id="referInBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

							</div>

							<div class="col-md-6">

								<div id="referOutBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

							</div>
						</div>
					</div>
				</div>
		
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-wheelchair mr-1"></i>
							ห้องอุบัติเหตุและฉุกเฉิน (ER) ปีงบประมาณ {{ cboYear }}
						</h3>
					</div><!-- /.card-header -->
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">

								<div id="erVisitBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

							</div>

							<div class="col-md-6">

								<div id="erEmergencyPieContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

							</div>
						</div>

					</div>
				</div>

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-user-nurse mr-1"></i>
							ห้องผ่าตัด (OR) ปีงบประมาณ {{ cboYear }}
						</h3>
					</div><!-- /.card-header -->
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">

								<div id="orTypePieContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

							</div>

							<div class="col-md-6">

								<div id="orVisitBarContainer" style="width: 100%; height: 400px; margin: 20px auto;"></div>

							</div>
						</div>
					</div>
				</div>
		
			</section>
		</div><!-- Main row -->
	</div><!-- /.container-fluid-->
</section>

<script type="text/javascript">
	$(function() {
		$('#cboYear').datepicker({
			autoclose: true,
			format: 'yyyy',
			viewMode: "years", 
			minViewMode: "years",
			language: 'th',
			thaiyear: true
		}).datepicker('update', new Date());
	});
</script>