<section
	class="content"
	ng-controller="pharmaController"
	ng-init="getUserDrugLists($event);"
>
	<div class="container-fluid">
		<!-- Main row -->
		<div class="row">
			<section class="col-lg-12 connectedSortable">

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-user-nurse mr-1"></i>
							สร้างรายการยา
						</h3>
					</div><!-- /.card-header -->
					<div class="card-body">

						<a href="pharma/new-druglists" class="btn btn-primary float-right">
							<i class="fas fa-plus-circle"></i> เพิ่มรายการ
						</a>

					</div><!-- /.card-body -->
				</div><!-- /.card -->

				<div class="card">
					<div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 6%;">ลำดับ</th>
										<th style="text-align: center;">ชื่อรายการ</th>
										<th style="text-align: center; width: 8%;">ประเภท</th>
                                        <th style="text-align: center; width: 8%;">รายการยา</th>
                                        <th style="text-align: center; width: 6%;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(index, row) in userDrugLists">
                                        <td style="text-align: center;">{{ index+1 }}</td>
										<td>{{ row.name }}</td>
                                        <td style="text-align: center;">{{ row.type }}</td>
										<td style="text-align: center;">
											<a 
												href="#"
												ng-click="showUserDrugListsDetail($event, row.id)"
												class="btn btn-info"
											>
											<i class="fas fa-clipboard-list"></i>
											</a>
										</td>
										<td style="text-align: center;">
											<a 
												href="#"
												ng-click="removeUserDrugList(row.id)"
												class="btn btn-danger"
											>
												<i class="far fa-trash-alt"></i>
											</a>
										</td>
                                    </tr>
                                </tbody>
                            </table>
						</div><!-- /.table-responsive -->

						<div ng-include="'./templates/modals/drug-list.html'"></div>
						
					</div><!-- /.card-body -->
				</div><!-- /.card -->

			</section>
		</div><!-- Main row -->
	</div><!-- /.container-fluid-->
</section><!-- /.content -->

<script type="text/javascript">
	$(function() {
		$('.select2').select2();

		$('#sdate').datepicker({
			autoclose: true,
			language: 'th',
			format: 'dd/mm/yyyy',
			thaiyear: true
		}).datepicker('update', new Date());

		$('#edate').datepicker({
			autoclose: true,
			language: 'th',
			format: 'dd/mm/yyyy',
			thaiyear: true,
		}).datepicker('update', new Date());
	});
</script>